.wrapper {
    width: 100%;
    margin: 0 auto;
}

.body {
    margin: 0 auto;
    padding: 20px 48px 24px;
}

.header {
    margin-bottom: 24px;
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
}

.avatar {
    margin: 12px 0 12px;
    --edge: 100px;
    width: var(--edge);
    height: var(--edge);
    border-radius: 50%;
}
