.header {
    font-size: 2rem;
    margin-bottom: 24px;
}

.body {
    margin: 0 auto;
    max-width: 360px;
}

// Form
.form {
    padding: 12px;
}

.label {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 20px;
}

.input {
    border: none;
    outline: none;
    width: 100%;
    margin-top: 8px;
    font-size: 1.5rem;
    padding: 10px 16px;
    border-radius: 4px;
    background-color: var(--flash-white-color);
}

// State invalid
.invalid {
    box-shadow: 0 0 0 1px var(--red-color);
}

.error-msg {
    color: var(--red-color);
    font-size: 1.4rem;
    margin-top: 12px;
    line-height: 1;
}

.msg-submit {
    color: var(--red-color);
    font-size: 1.4rem;
    margin-top: 24px;
}

.update-btn {
    margin-top: 12px;
}
