.wrapper {
    width: 600px;
    margin: 0 auto;
}

.body {
    margin: 0 auto;
    padding: 20px 48px 24px;
}

.header {
    margin-bottom: 24px;
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
}
