.wrapper {
    width: 600px;
    margin: 0 auto;
}

.header {
    margin: 24px 0 16px;
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
}

.cancel-btn {
    margin-right: 12px;
}

.logo {
    --edge: 90px;
    width: var(--edge);
    height: var(--edge);

    border-radius: 50%;
    margin: 24px auto;
    display: block;
}
