.wrapper {
    position: relative;
    width: 760px;
    max-width: 100%;
    padding: 32px;
    border-radius: 12px;
    color: var(--text-color);
    background-color: var(--white-color);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    margin: 24px auto;
}

.id {
    font-size: 1.8rem;
}

.date {
    font-size: 1.6rem;
    color: #666;
}

.status {
    align-self: flex-start;
    font-weight: bold;
}

.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    border-top: 1px solid #e5e5e5;
}

.detail-btn {
    height: 40px;
    font-size: 1.5rem;
    min-width: 120px;
}
