@use '/src/components/GlobalStyle/GlobalStyle.scss' as *;

.wrapper {
    position: relative;
    width: 760px;
    max-width: 100%;
    padding: 32px;
    border-radius: 12px;
    color: var(--text-color);
    background-color: var(--white-color);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    margin: 24px auto;
}

.id {
    font-size: 1.8rem;
    margin-right: 12px;
}

.date {
    font-size: 1.6rem;
    color: #666;
}

.status {
    align-self: flex-start;
    font-weight: bold;
}

.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    border-top: 1px solid #e5e5e5;
}

.detail-btn {
    height: 40px;
    font-size: 1.5rem;
    min-width: 120px;
}

// Responsive
@media screen and (max-width: $max-mobile) {
    .wrapper {
        padding: 12px;
    }

    .header {
        flex: 1;
    }

    .id {
        font-size: 1.6rem;

        & span {
            font-size: 1.2rem;
        }
    }

    .status {
        margin-left: 12px;
        font-size: 1.2rem;
        min-width: 68px;
        padding: 4px 8px;
    }

    .date {
        font-size: 1.2rem;
    }

    .summary {
        font-size: 1.4rem;
    }

    .detail-btn {
        height: 38px;
        font-size: 1.4rem;
    }
}
