@use '/src/components/GlobalStyle/GlobalStyle.scss' as *;

.address {
    display: block;
    margin: 24px 0 -8px;
    font-weight: bolder;
    color: #888888;
    font-size: 1.7rem;
}

label.house-number {
    margin-top: 4px;
}

.cancel-btn {
    margin-right: 12px;
}

// Responsive
@media screen and (max-width: $max-mobile) {
    .address {
        margin-bottom: 8px;
    }
}
