@use '/src/components/GlobalStyle/GlobalStyle' as *;

.wrapper {
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
}

.logo {
    height: 100%;
}

.logo-minimal {
    display: none;
}

// Nav
.nav-list {
    display: flex;
}

.nav-item {
    min-width: 84px;
    height: var(--header-height);
    line-height: var(--header-height);

    padding: 0 16px;
    font-size: 1.6rem;
    text-decoration: none;
    text-align: center;
    color: var(--text-color);
    white-space: nowrap;

    &:hover {
        color: var(--primary-color);
    }
}

.active {
    font-weight: bolder;
}

// Nav right
.nav-right {
    display: flex;
    align-items: center;
}

.search-wrapper {
    background-color: var(--flash-white-color);
    display: flex;
}

.search-input {
    padding: 12px 0 12px 14px;
    font-size: 1.4rem;
    border-radius: 4px;
    background-color: transparent;
    width: 100%;
}

.search-icon {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;

    svg {
        width: 18px;
    }

    &:hover {
        color: var(--primary-color);
    }
}

.menu-icon,
.cart-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px 8px 20px;
    color: var(--text-color);
    cursor: pointer;
    position: relative;

    &:hover {
        color: var(--primary-color);
    }
}

.cart-count {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 1rem;
    padding: 3px 5px;
    line-height: 1;
    text-align: center;
    border-radius: 999px;
    color: var(--white-color);
    background: var(--red-color);
}

// Cart tippy
.cart-wrapper {
    width: 400px;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

// Empty cart
.cart-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    span {
        margin-top: 6px;
        font-size: 1.6rem;
        color: var(--text-color);
    }
}

// Cart have product
.cart-products {
}

.cart-title {
    margin: 4px 0 12px;
    font-size: 1.6rem;
    font-weight: 500;
    color: #8d8d8d;
}

.cart-list {
    max-height: 268px;
    overflow-y: scroll;
}

.cart-footer {
    margin-top: 12px;
    border-top: 1px solid #ddd;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin: 12px 0;
}

.cart-actions {
    display: flex;
}

.view-cart-btn {
    color: var(--text-color);
    flex: 1;
    border-color: var(--text-color);

    &:hover {
        background-color: var(--flash-white-color);
    }
}

.checkout-btn {
    flex: 1;
}

// Profile with sub nav

.sub-nav {
    background-color: var(--white-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    overflow: hidden;
}

.sub-nav__item {
    display: block;
    min-width: 160px;
    padding: 12px 20px;
    text-align: left;
    font-size: 1.5rem;
    color: var(--text-color);
    background: var(--white-color);

    &:hover {
        background-color: var(--flash-white-color);
        cursor: pointer;
    }
}

.avatar {
    --edge: 36px;
    width: var(--edge);
    height: var(--edge);
    margin: 0 8px;
    border-radius: 50%;

    cursor: pointer;
}

.menu-wrapper {
    display: none;
}

// Responsive
@media screen and (max-width: $max-mobile) {
    .logo-minimal {
        display: block;
        width: 100%;
        height: 100%;
    }

    .menu-wrapper {
        display: block;
    }

    .sub-nav {
        width: 100vw;
        position: relative;
        left: -6px;
    }
}

@media screen and (max-width: $max-tablet) {
    .nav-item {
        padding: 0 8px;
    }
}
