.wrapper {
    width: 600px;
    margin: 0 auto;
}

.header {
    margin-top: 12px;
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
}

.actions {
    margin: 24px 0 12px;
    text-align: center;

    .cancel-btn {
        margin-right: 12px;
    }
}
