@use '/src/components/GlobalStyle/GlobalStyle.scss' as *;

.wrapper {
    margin: 48px 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

// Display list products
.list-products {
    margin: 32px 0;
}

.list-filter {
    margin-left: -16px;
    margin-right: 12px;
}

.filter-btn {
    min-width: 100px;
    margin-left: 16px;

    & + .filter-btn {
        margin-left: 16px;
    }
}

// Responsive
@media screen and (max-width: $max-tablet) {
    .filter-btn {
        min-width: 80px;
        height: 40px;

        & + .filter-btn {
            margin-left: 12px;
        }
    }
}

@media screen and (max-width: $max-mobile) {
    .filter-btn {
        min-width: 68px;
        height: 38px;
        font-size: 1.4rem;
        margin-bottom: 12px;
    }
}
