.wrapper {
    position: relative;
}

.header {
    font-size: 2.4rem;
}

.header-desc {
    color: #666;
    font-size: 1.5rem;
    margin-top: 2px;
    margin-bottom: 24px;
}

.add-btn {
    position: absolute;
    top: 12px;
    right: 0;
    height: 38px;
}

.list {
    margin-top: 24px;
}
