@import 'normalize.css';

:root {
    --primary-color: #00ce81;
    --primary-color-hover: #eefcf1;
    --text-color: #3b3937;
    --white-color: #fff;
    --flash-white-color: #f3f3f3;

    --red-color: #ff4d4d;
    --green-color: #4caf50;
    --blue-color: #1976d2;
    --orange-color: #ed6c02;
    --gray-color: #6c757d;
    --yellow-color: #f09e17;
    --background-color: #f8f9fa;

    --font-family: 'NunitoSans-Regular', sans-serif;

    --header-height: 68px;

    // Swiper custom
    --swiper-navigation-size: 24px;

    // Admin
    --admin-sidebar: 224px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: var(--text-color);
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-size: 1.6rem;
    color: var(--text-color);
    font-family: var(--font-family);
}

// Embed font
@font-face {
    font-family: 'NunitoSans-Regular';
    src: url('/src/assets/font/NunitoSans-Regular.ttf');
}

@font-face {
    font-family: 'NunitoSans-Italic';
    src: url('/src/assets/font/NunitoSans-Italic.ttf');
}

// Custom scroll style
html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.1);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

a,
input,
button {
    outline: none;
    border: none;
    text-decoration: none;
}

// Custom swiper
.swiper-button-next,
.swiper-button-prev {
    padding: 24px;
    color: var(--text-color);

    &:hover {
        color: var(--primary-color);
        background-color: var(--primary-color-hover);
    }
}

// Gird system
.grid {
    width: 100%;
    display: block;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.col-2,
.col-2-4,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-9,
.col-10,
.col-12 {
    padding-left: 8px;
    padding-right: 8px;
}

.col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

// Common style
.space-between {
    display: flex;
    justify-content: space-between;
}

.dif {
    display: inline-flex;
}

.mt-12 {
    margin-top: 12px;
}

.mt-24 {
    margin-top: 24px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mr-24 {
    margin-right: 24px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-red {
    color: var(--red-color);
}

.text-green {
    color: var(--green-color);
}

.text-blue {
    color: var(--blue-color);
}

.text-orange {
    color: var(--orange-color);
}

.text-yellow {
    color: var(--yellow-color);
}

.text-bold {
    font-weight: bold;
}

// Form global
.form-label {
    font-weight: 600;
    font-size: 1.6rem;
    margin-top: 20px;
    display: block;
}

.form-input,
.form-input-invalid,
.form-input-disable {
    border: none;
    outline: none;
    width: 100%;
    margin-top: 8px;
    font-size: 1.5rem;
    padding: 10px 16px;
    border-radius: 4px;
    resize: none;
    background-color: var(--flash-white-color);
}

.form-input-disable {
    background-color: #ffe3e3;
}

.form-label-checkbox {
    margin: 0 24px 0 4px;
    line-height: 1;
}

// State input invalid
.form-input-invalid {
    box-shadow: 0 0 0 1px var(--red-color);
}

.form-select {
    width: 100%;
    border-radius: 4px;
    padding: 8px;
    margin-top: 8px;
    cursor: pointer;
    appearance: base-select;

    &::picker(select) {
        appearance: base-select;
    }

    & option {
        padding: 10px 12px;
        font-size: 1.4rem;

        // Style for status of option disabled
        &:disabled {
            cursor: text;
        }

        &:disabled::checkmark {
            color: transparent;
        }
    }
}

.form-msg-err {
    color: var(--red-color);
    font-size: 1.4rem;
    margin-top: 12px;
    line-height: 1;
}

// Common color
.red-color,
.green-color,
.orange-color,
.yellow-color,
.blue-color {
    min-width: 80px;
    text-align: center;
    padding: 4px 16px;
    border-radius: 4px;
    display: inline-block;
}

.red-color {
    color: var(--red-color);
    background-color: #ff4d4d36;
}

.green-color {
    color: var(--green-color);
    background-color: #e8f5e9;
}

.orange-color {
    color: var(--orange-color);
    background-color: #fff3e0;
}

.yellow-color {
    color: var(--yellow-color);
    background-color: #fef3c7;
}

.blue-color {
    color: var(--blue-color);
    background-color: #e3f2fd;
}

// Cell table
.cell-item {
    display: flex;
    padding: 22px 0 2px;
    border-bottom: 1px solid #e5e5e5;
}

.cell-title {
    width: 168px;
    flex-shrink: 0;
    font-weight: 500;
    align-self: flex-end;
}
