@import 'normalize.css';

:root {
    --primary-color: #00ce81;
    --primary-color-hover: #eefcf1;
    --text-color: #3b3937;
    --white-color: #fff;
    --flash-white-color: #f3f3f3;

    --red-color: #ff4d4d;

    --font-family: 'NunitoSans-Regular', sans-serif;

    --header-height: 68px;

    // Swiper custom
    --swiper-navigation-size: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: var(--text-color);
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-size: 1.6rem;
    color: var(--text-color);
    font-family: var(--font-family);
}

// Embed font
@font-face {
    font-family: 'NunitoSans-Regular';
    src: url('/src/assets/font/NunitoSans-Regular.ttf');
}

@font-face {
    font-family: 'NunitoSans-Italic';
    src: url('/src/assets/font/NunitoSans-Italic.ttf');
}

// Custom scroll style
html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.1);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

a,
input,
button {
    outline: none;
    border: none;
    text-decoration: none;
}

// Custom swiper
.swiper-button-next,
.swiper-button-prev {
    padding: 24px;
    color: var(--text-color);

    &:hover {
        color: var(--primary-color);
        background-color: var(--primary-color-hover);
    }
}

// Gird system
.grid {
    width: 100%;
    display: block;
}

.grid.wide {
    max-width: 1024px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.col-2,
.col-2-4,
.col-3,
.col-4,
.col-6,
.col-9,
.col-12 {
    padding-left: 8px;
    padding-right: 8px;
}

.col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
